[submodule "doil-research"]
	path = doil-research
	url = https://github.com/D0iloppa/doil-research.git
	branch = main
[submodule "doil-bootstrap"]
	path = doil-bootstrap
	url = https://github.com/D0iloppa/doil-bootstrap.git
	branch = main
[submodule "doil-supervise"]
	path = doil-supervise
	url = https://github.com/D0iloppa/doil-supervise.git
	branch = main
[submodule "ai-echo"]
	path = ai-echo
	url = https://github.com/D0iloppa/ai-echo.git
	branch = main
